<html>
	<body>
		<form action = "/student" method = "post">			
		<p> Student Name </p>
		<p> <input type = "text" name = "sname"> </p>
	
		<p> WhatsApp Number </p>                     	
		<p> <input type = "text" name = "whatsapp"> </p>	
		<p> Father's Name </p>
        	<p> <input type = "text" name = "fname"> </p>

		<p> Father's Contact Number </p>
		<p> <input type = "text" name = "fno"> </p>	
		
		<p> Email Id </p>
		<p> <input type = "text" name = "email"> </p>	
	
		<p> Class </p>
		<p> <input type = "text" name = "class"> </p>	

		<button type="submit"  value="Submit">Submit</button>
		
		</form>
	</body>
</html>
