<html>
	<head>
		<title>
			Teacher Registeration
		</title>
	</head>
	<body>
                <form action = "/teacher" method = "post">

                    <p> Teacher Name </p>
                    <p> <input type = "text" name = "tname"> </p>
   
                   <p> Contact Number </p>
                   <p> <input type = "text" name = "cno"> </p>
  
                   <p> Email Id </p>
                   <p> <input type = "text" name = "email"> </p>
  
                   <p> Class </p>
                   <p> <input type = "text" name = "class"> </p>

		   <p> Subject </p>
		   <p> <input type = "text" name = "subject"> </p>  
                   
		   <button type="submit"  value="Submit">Submit</button>
  

	</body>
</html>

